div {
  color: whitesmoke;
  text-align: center;
}

.d-flex{
  background-color: darkred;
  font-size: 1.8vw;
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 8rem;
  left: 6rem;
  padding: .5rem;
}
