div {
  color: whitesmoke;
  text-align: center;
}

.content-box {
  width: 90vw;
  height: auto;
}

.d-flex{
  background-color: darkred;
  font-size: 1.8vw;
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 8rem;
  left: 4rem;
  padding: .5rem;
}
