div {
  color: whitesmoke;
  text-align: center;
}

#containerp{
  position: relative;
  top: 6rem;
  width: fit-content;
  padding-bottom: .5rem;
  padding-top: .5rem;
  background-color: initial;
}

.card {
  background-color: darkred;
}
