div {
  color: whitesmoke;
  text-align: center;
}

.container-fluid{
  background-color: darkred;
  position: relative;
  top: 13vh;
  width: fit-content;
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.card {
  font-size: 8px;
}

#skills{
  position: relative;
  right: 2vh;
}
